body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./lukas-blazek-263120-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

button {
  cursor: pointer;
}